<app-navigation></app-navigation>

<h1>Courses</h1>
<section>
    
   
    <div *ngFor="let item of items" class="course-section">
        <h2>{{ item.title }}</h2>
        <p style="font-weight: bolder;">Class Code: {{ item.classCode }}</p>
        <p style="text-align: justify">{{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
        <button (click)="addToCart(item.title, item.classCode, item.price)">Add to Cart</button>
    
      </div>

  </section>

  <app-cart></app-cart>
