/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Dancing+Script:wght@400;700&display=swap');

body{
    background-attachment: fixed;
    background-image: url('/assets/images/background.png');
    background-size: cover;
}